.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    margin-top: 4rem;
}

.created {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--blue);
}

.created > h1 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
}

.created > a {
    display: flex;
    padding: 0.125rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;

    border-radius: 62.4375rem;
    color: var(--gray-100);
    background: var(--gray-400);
}

.finished {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--purple);
}

.finished > h1 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
}

.finished > a {
    display: flex;
    padding: 0.125rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;

    border-radius: 62.4375rem;
    color: var(--gray-100);
    background: var(--gray-400);
}
