.header {
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-700);
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 900;
}

.header > img {
    margin-top: 0.62rem;
    margin-right: 0.75rem;
    width: 1.375rem;
    height: 2.25rem;
    flex-shrink: 0;
}

.do {
    color: var(--purple-dark);
}