.wrapper {
    max-width: 46rem;
    width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    width: 46rem;
    margin-top: -3.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.taskList {
    display: flex;
    width: 46rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.taskList > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media (min-width: 1440px) {
    html {
        font-size: 125%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    .wrapper {
        max-width: 34.5rem;
    }

    .container {
        width: 34.5rem;

    }

    .taskList {
        width: 34.5rem;
    }
}

@media (max-width: 510px) {
    html {
        font-size: 75%;
    }
    .wrapper {
        max-width: 23rem;
    }

    .container {
        width: 23rem;

    }

    .taskList {
        width: 23rem;
    }
}